@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';
@import 'bulma/sass/utilities/derived-variables';
@import 'bulma/sass/utilities/mixins';

@import 'datepicker-bulma';
